/* Css PERSONALIZADO */


:root {
    --azulLogo1: #2c53b2;
    --azulLogo2:#0f9bd7;
    --azulHead: #081b48;
    --azulNav:#1f3b75;
    --azulFondo: #14244a;
    --azulFooter: #040c1d;
    --azulTH: #031132;
    --azulFila: #081b48;
    --azulFilaHover: #07183f;
    --narLogo:#fbb03b;
    --gris: #7d828b;
    --navButonOver:#00ffff18;
    --navPrincipalHover: #102861;
    --bg-rojo: #2b0505;
    --bg-compra: #021d08;
    --bg-venta: #2b0505;
    --bg-verde: #021d08;
    --textoNav: white;
    --textoPort: rgba(255, 255, 255, 0.863);
    --loginLeft: #05112c;
    --greenSicoiner: rgb(25 89 25);

    
    /* color titulos dinámicos */
    --titulo1: white;
    
    /* Filas */
    --azulBorder:#203d77;
}

/* Resto css */




.row_linea {
    background-color: var(--azulLogo2);
    min-width: 60%;
    height: 0.3rem;
    /* border: 1px solid var(--azulLogo2); */
    margin: 0.8rem auto 0rem auto;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
}





/* Resto */

.b {
    border-color: 5px solid red;
}

.nowrap {
    white-space: nowrap;
}

.size-min {
    min-width: 2rem;
    margin: 0 0.5rem;
}

.cursor {
    cursor: pointer;
}

.px-1 {
    padding: 0 1rem !important;
}

/* Alineación */

.text-center {
    text-align: center;
}

/* Margin */

.m0 {
    margin-right: auto !important;
    margin-left: auto !important;
}
.mr-05 {
    margin-right: 0.5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}


/* padding */

.py-05 {
    padding: 0.5rem 0 0.5rem 0 !important;
}

.py-02 {
    padding: 0.2rem 0 0.2rem 0 !important;
}

/* Background color */

.bg-black {
    background-color: black;
}

.bg-light {
    background-color: white;
}

/* text-color */

.t-azul1 {
    color: var(--azulLogo1);
}

.t-azul2 {
    color: var(--azulLogo2);
}

.t-naranja {
    color: var(--narLogo);
}

/* Opacidad */

.op-25 {
    opacity: 25%;
}

.op-50 {
    opacity: 50%;
}

.op-80 {
    opacity: 80%;
}

/* Overflow */

.o-hidden {
    overflow: hidden;
}


/* Border radius */

.border-radius-right-top {
    border-radius: 0 1rem 0 0;
}

.border-radius-right {
    border-radius: 0 1rem 1rem 0;
}

.border-radius-left {
    border-radius: 1rem 0 0 1rem;
}


.border-radius-left-top {
    border-radius: 1rem 0 0 0;
}

.border-radius-right-bottom {
    border-radius: 0 0 1rem 0;
}

.border-radius-left-bottom {
    border-radius: 0 0 0 1rem;
}

/* Código para dejar el footer abajo del todo

body {   ; 
    height: calc(100% + altura footer);
    width: 100%;   
}

Si no funciona, probar position absolute en body
Es posible necesite ajustar el scroll en caso de 

footer{    
    position: fixed;
    width: 100%;
    bottom: 0;    
}

*/



/* Botones */

.btn-danger {
    background-color: red  !important;
    color: white !important;
}

.btn-dark {
    background-color: rgb(54, 54, 54)  !important;
    color: white !important;
    
}