:root {

    --color-naranja1:#fbb03b;

    --color-naranja2: #fbb13b75 !important;

    --azul1: rgb(8 27 72);
    
    --azul2: rgb(1 18 56);
    
    --azul3: rgb(11 40 102);

    --azul4: rgb(44 83 178);
    
    --navButonOver:rgba(0, 255, 255, 0.096);
    
    --azulFondo: #14244a;
    
    --azulOscuro: #040c1d;
    
    --azulLogo: rgb(15 155 215);
    
    --azulLogo2: #1f3b75;
    
    --bg-rojo: rgb(43, 5, 5);
    
    --bg-verde: rgb(2, 29, 8);
}

::-webkit-scrollbar {
    display: none;
}

/* Para ver las herramientas de la versión
Pro hay que desactivar este parámetro */

/* .vPro{
    display: none !important;
} */


*{
    margin: 0% !important;
    padding: 0% !important;
    list-style: none !important; 
    flex-wrap: wrap !important;        
    text-decoration: none !important;  
    /* font-family: 'Mukta', sans-serif; */
    font-family: 'Signika', sans-serif;
    /* border: 1px solid red; */
    /* z-index: 0; */
}


/* HEADER */
.logo img,
.logo p{   
    max-width: 250px;  
    font-size: 13px !important;  
}

.menu{   
    height: 100px !important;
    line-height:100px;
}

.iconNav{
    width: 35px !important;
}

.navButton:hover{
    background-color: var(--azul3) !important;
    opacity: 1 !important;
}

.noticias{
    border-top: 1px rgb(108 97 189) inset !important; 
    border-bottom: 1px rgb(70 62 128) inset !important; 
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;    
}

.noticias p{
    animation: loop 100s linear infinite !important;
}

@keyframes loop {
    0% {transform: translateX(60%);}   
    100% {transform: translateX(-200%);}  
    0% {transform: translateX(60%);}
}

.subMenu a{   
    border: 1px solid var(--azulFondo) !important;
    line-height: 30px !important;
}

.nav2 .subMenu a:hover{
   filter: brightness(120%);    
}

.subMenu a img{
    max-width: 23px !important;
}

.subMenu a p{
    margin-top: 3px !important;
}


/* FIN HEADER */

/* CONTENIDO */

.contenedor{
    min-height: calc(100vh - 238px);
    width: 100% !important;
    /* min-height: 65vh !important; */
}

/* FIN CONTENIDO */


/* PORTFOLIO */

td, 
.totalPorta th, 
.totalHisto th, 
.headPort th,
.titHisto th,
.subMenu > a{    
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 16px !important;
    white-space: nowrap !important;
}

th, 
td {
    height: 34px !important;    
    border: none !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

td{
    border-bottom: rgb(32 61 119) solid 0.5px !important;  
    border-top: rgb(32 61 119) solid 0.5px !important;  
}

th{
    font-size:16px !important;
}

tr > td > img{
    width:20px !important;
}

.coti{
    width:100px !important;
    padding: 0px !important;
    text-align: center !important;
}


.totalPorta :nth-child(5):before,
.totalPorta :nth-child(7):before{
    content: '$';
    color: white;
}

/* FIN PORTFOLIO */

/* HISTORIAL */

#selectHist form fieldset {
    width: 600px !important;
    font-size: 16px !important;
    margin-bottom: -20px !important;
}

.menuHistorial{    
    margin-top: 100px !important;  
    margin-left: -100px !important;
}

.totalHisto :nth-child(7):before{
    content: '$';
    color: white;
}

/* FIN HISTORIAL */


/* MODAL CÁLCULOS */

.ticker{
    height: max-content !important;
    /* padding-top: 20px !important; */
    padding-bottom: 20px !important;
}

.modal-xl,
.modal-content,
.modal-body{
    width:auto !important;
    justify-content: center !important;
}

.calculo h5{
    font-size:12px !important;
}

/* FIN MODAL CÁLCULOS */


/* FOOTER */

footer{      
    height: 10vh !important;  
    /* position: fixed;
    left: 0;
    bottom: 0 !important; */
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
}

/* FIN FOOTER */

/* MEDIA QUIERIS */

@media (max-width:1500px){
    .subMenu a p{
        font-size: 14px !important;    
        margin-top: 0px !important;    
    }   
    
    .subMenu a img{
        width: 18px !important;        
    }   

    .modal-xl,
.modal-content,
.modal-body{
    width:auto !important;
    justify-content: center !important;
    }

    .calculo h5,
    .calculo input,
    .calculo p,
    .form-select {
        font-size:16px !important;
    }
}



@media (max-width:1200px){

    .menu{
        height: 70px !important;
        line-height:70px !important;  
        padding-left: 0px !important;      
    }

    .logo{
        justify-content: center !important;       
        padding-top: 15px !important;
        width: 100% !important;
    }

    .calculo h5,
    .calculo input,
    .calculo p,
    .form-select  {
        font-size:14px !important;
    }
    
}

@media (max-width:680px){
      th{
        font-size:8px !important;
    }

    .ticker{
        display: none !important;
    }

    .filaPort td,
    .filaHisto td{
        font-size: 12px !important;
    }

    .filaHisto td img,
    .filaPort td img
    /* th img  */{
        width: 15px !important;
    }

    .coti{
        /* width:60px !important; */
        padding: 0px !important;
        text-align: center !important;
    }

    .calculo h5,
    .calculo input,
    .calculo p,
    .form-select  {
        font-size:12px !important;
    }
}

@media (max-width:575px){
    nav{
        width: 70% !important;
    }

    nav .menu h5{
        display: none !important;
    }

    .navButton{
        width: 33% !important;
    }

    .logo img{   
        max-width: 200px;
        line-height: 100px;
    }

    .iconNav{
        width:30px !important
    }

    .subMenu a p{
        font-size: 16px !important;    
        /* margin-top: 3px !important;  */   
    }   
    
    .subMenu a img{
        width: 23px !important;        
    }   

    .filaPort td,
    .filaHisto td{
        font-size: 12px !important;
    }

    .filaHisto td img,
    .filaPort td img
    /* th img  */{
        width: 15px !important;
    }

    .coti{
        width:60px !important;
        padding: 0px !important;
        text-align: center !important;
    }

    .calculo h5,
    .calculo input,
    .calculo p,
    .form-select  {
        font-size:12px !important;
    }

    /* #menu-account{      
        right: 15px !important;  
     } */

    td, 
    .totalPorta > th, 
    .totalHisto th, 
    .headPort th,
    .titHisto th,
    .subMenu > a{    
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 10px !important;
        white-space: nowrap !important;
    }

  
}


/* COLORES personalizados */

/* fondos */

.azul1 {
    background-color: rgb(8 27 72) !important;
}

.azul2 {
    background-color: #345fcc !important;
}

.azul3 {
    background-color: #1f3b75 !important;
}

.azul4 {
    background-color: #081b48 !important;
}

.azul5 {
    background-color: #040c1d !important;
}

.bg-filaMenuOn {
    /* box-shadow: 5px 10px #012070 !important; */
    background-color: #012070 !important;
    /* border:4px solid #142d6e !important; */
} 

.bg-filaMenuRemove {
    background-color: #3b0b0b !important;  
    /* border: 4px solid #561919 !important;  */ 
}



.bg-filaMenuOff {
    background-color: #081b48 !important;
}


.azulNoticias{
    background-color: rgb(1 18 56) !important;
}

.azulFondo {
    background-color: #14244a !important;
}

.naranja {
    background-color: #faaf3b !important;
}

.azulLab {
    background-color: #93ecd0 !important;
}

.bg-rojo {
    background-color: rgb(43, 5, 5) !important;
}

.bg-verde {
    background-color: rgb(2, 29, 8) !important;
}

.verdeLab{
    background-color: #063815 !important;
}

.bg-shadow{
    background-color: rgba(6, 2, 19, 0.719) !important;
}

.bg-negro {
    background-color: black !important;
}

.bg-none {
    background-color: transparent !important;
}


/* Textos */

.t-azul1 {
    color: #0f9bd7 !important;
}

.t-azul2 {
    color: #2c53b2 !important;
}

.t-azul3 {
    color: #1f3b75 !important;
}

.t-azul4 {
    color: #081b48 !important;
}

.t-azul5 {
    color: #040c1d !important;
}

.t-naranja {
    color: #faaf3b !important;
}

.t-verde {
    color: #4ce762 !important;
}

.t-rojo {
    color: #46b6cb !important;
}


/* BORDER */

.border-naranja{
    
       border:1px solid #faaf3b4d !important;
    
}

.border-azul{
    border:1px solid #1e479c !important;
 }

/*  .border-filaMenuOn{
    border:4px solid #142d6e !important;
 }
 */




/* CSS short code */


/* Centrar vertical y horizontal

d-flex
justify-content-center
align-content-center 

*/



.square {
    width: 50px !important;
    height: 50px !important;
}

.ml-2{
    margin-left: 5px !important;
}

.mr-2{
    margin-right:5px !important;
}

.mr-1{
    margin-right:3px !important;
}

.pl-1{
    padding-left:4px !important;
}

.pl-2{
    padding-left:5px !important;
}

.px-2{
    padding-left:15px !important;
    padding-right:15px !important;
}

.px-5{
    padding-left:15px !important;
    padding-right:15px !important;
}

.letter-spacing-2 {
    letter-spacing: 3px !important;
}

.letter-spacing-3 {
    letter-spacing: 6px !important;
}

.op90{
    opacity: 90% !important;
}

.op80{
    opacity: 80% !important;
}

.op70{
    opacity: 70% !important;
}

.op50{
    opacity: 50% !important;
}

.nowrap{
    flex-wrap: nowrap !important;  
}

.w-s{
    white-space: nowrap !important;
}

.cursor{
    cursor: pointer !important;
}

.of-hidden{
    overflow: hidden !important;
}


.salto1{
    height: 3px !important;
    opacity: 0;
}

.nombreSub{
    height: 3px !important;
}

.bg-marca2{
    background: #01091b73 !important;     
}

.border-none{
    border: none !important;
}

.position-absolute{
    display: block !important;
    position: absolute !important;
}

.ver{
    border: 1px red solid !important;
    background-color: green !important;
}

.ver2{
    border: 1px rgb(22, 10, 192) solid !important;
    background-color: rgb(231, 78, 116) !important;
}

.br-none{
    border-right: none !important;
}

.bl-none{
    border-left: none !important;
}

.f-w{
    font-weight: 100px !important;
}

.dflex{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.clearfix{
    clear: both !important;
}

.z2{
    z-index: 2 !important;
}

.z1{
    z-index: 1 !important;
}

.z0{
    z-index: -1 !important;
}

