/* Estos estilos están enfocados al resto
de la web que no esté en:
- Portfolios
- Historial
- Cálculos
- Alertas

 Por ejemplo: 
- Página de login  
- Modals con inputs
- overlays etc.
*/

:root {

    --color-naranja1:#fbb03b;

    --color-naranja2: #ff9d008e;

    --azul1: rgb(8 27 72);
    
    --azul2: rgb(1 18 56);
    
    --azul3: rgb(11 40 102);

    --azul4: rgb(44 83 178);
    
    --navButonOver:rgba(0, 255, 255, 0.096);
    
    --azulFondo: #14244a;
    
    --azulOscuro: #040c1d;
    
    --azulTarjeta: rgb(1 18 56);
    
    --azulLogo: rgb(15 155 215);
    
    --azulLogo2: #1f3b75;
    
    --bg-rojo: rgb(43, 5, 5);
    
    --bg-verde: rgb(2, 29, 8);
}

.borde{
    border: none;
    background-color: green !important;
}

/* *{
    border: 1px solid red;
} */

#cont-log{
    height: 100vh !important;
    width:100% !important;
    color: white;    
}

#logo-log h6{
    /* letter-spacing: 6px; */
    margin-bottom: -40px !important;
} 

#icon-log img{
    border-top: var(--color-naranja2) solid 1px;
    transition: 3s ease;    
}

#formu-log:hover > #form-social > #icon-log > img{    
    border-top: var(--azulLogo) solid 1px;      
    /* background-color: var(--azul1) !important; */
}


#formu-log{
    min-height:40% !important; 
    border-top:  var(--color-naranja2) solid 1px !important;
    /* border-bottom:  var(--color-naranja2) transparent 1px !important; */    
    transition: all 3s ;
}


#formu-log:hover{    
    /* background-color: var(--azulOscuro) !important;  */   
    border-top:  var(--azulLogo) solid 1px !important;
    /* border-bottom:  var(--azulLogo) solid 1px !important;  */
   
}

#form-social button:hover{
   /*  transition: 5s; */
    color: white !important; 
    background-color: var(--azul4) !important;
}


#formu-log div button{
    width: 180px;
 }

 #icon-log img{
     width: 100px;
 }

 .icon-social{
     width:23px;
     justify-content: center;
     margin-right: 5px !important;
 }



 /* MODALS IMPORTANTES */

 #modal-calc > div{
    position:fixed;
     border:1px solid var(--azulLogo);
     border-left: none;
     border-right: none;
    
     /* background-color: var(--color-naranja1); */
 }


 @media (max-width: 1640px) {    

    #logo-log h6{        
        margin-bottom: 20px !important;
    }

    
}

@media (max-width: 768px) {
    #logo-log img{
        width:300px !important;
        margin-top: 20px !important;
    }

    #modal-calc > div{      
        position:absolute !important;        
    }

    #logo-log h6{        
        margin-bottom: 20px !important;
        
    }

    #modal-calc > div{
        padding:0px !important;
    }
}

.subSubMenu > *{
    transition: all 3s !important;
}