.borde{
    border: none;
    background-color: green !important;
}

/* *{
    border: 1px solid red;
} */

#cont-log{
    height: 100vh !important;
    width:100% !important;
    color: white;    
}

#logo-log h6{
    /* letter-spacing: 6px; */
    margin-bottom: -40px !important;
} 

#icon-log img{
    border-top: var(--color-naranja2) solid 1px;
    transition: 3s ease;    
}

#formu-log:hover > #form-social > #icon-log > img{    
    border-top: var(--azulLogo) solid 1px;      
    /* background-color: var(--azul1) !important; */
}


#formu-log{
    min-height:40% !important; 
    border-top:  var(--color-naranja2) solid 1px !important;
    /* border-bottom:  var(--color-naranja2) transparent 1px !important; */    
    transition: all 3s ;
}


#formu-log:hover{    
    /* background-color: var(--azulOscuro) !important;  */   
    border-top:  var(--azulLogo) solid 1px !important;
    /* border-bottom:  var(--azulLogo) solid 1px !important;  */
   
}

#form-social button:hover{
   /*  transition: 5s; */
    color: white !important; 
    background-color: var(--azul4) !important;
}


#formu-log div button{
    width: 180px;
 }

 #icon-log img{
     width: 100px;
 }

 .icon-social{
     width:23px;
     justify-content: center;
     margin-right: 5px !important;
 }



 /* MENÚS DEL HEADER */



 .menu-acount{
    /* display: block;
    position: absolute; */
    min-width:200px !important;
    padding: 0;
    margin: 0;
    top: 25px;
    right: 95px;
   /*  opacity: 100% !important; */
    /* z-index: 1 !important;  */
     /* visibility: hidden; */ 
 }

 .dropdown-toggle::after {
     content: "";
    display: none;
    /* margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; */
}


.dropdown-item{
    line-height: 30px !important;
}

.dropdown:hover{
    background-color: var(--azul3) !important;             
}



 /* .menu-acount li{
    line-height: 30px;
 }
 */

 /* FIN MENÚS DEL HEADER */


 @media (max-width:1500px){

    .menu-acount{      
        right: 50px !important;  
     }
 }